# systemd service for managing all opendkim autoconfiguration.

[Unit]
Description=OpenDKIM Configuration Autodiscovery
PartOf=opendkim.service
Before=opendkim.service
Before=postfix-autodiscovery.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/libexec/device-autodiscovery/opendkim
ExecReload=/bin/bash /usr/libexec/device-autodiscovery/opendkim
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

